name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  plugin-test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: asdf-vm/actions/plugin-test@v4
        with:
          command: prek --version
